/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
  font-size:110%;
  font-weight:900;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
  
  

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: left;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post { }

  /* standard */
  
  #post strong, #post h2 {
    font-size:105%;
    font-weight:900;
  }

  #post pre {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #eef;
    padding: .5em .4em .5em;
  }


  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0;
  }

  #post pre code {
     border: none;
    font-size: 80%;
  }

  /* terminal */
  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: #5fba3d;
    font-family: monospace, prestige;
  }

  #post pre.terminal code {
    background-color: #333;
  }

  #related {
    margin-top: 2em;
  }

  #related h2 {
    margin-bottom: 1em;
  }

  #post img.indent {
    padding-left: 20px;
    border-left:12px solid #ddd;
  }

  #post blockquote {
    padding-left: 20px;
    border-left:12px solid #ddd;
    background: #f2f2f2;
  }
  
  strike, linethru {text-decoration:line-through;} 

  #post #tbl table { width:100%; margin-bottom:2em; }
  #post #tbl table td { padding:0.5em; }
  #post #tbl table thead { background-color:#262626; color:#fff; font-weight:bold; }
  #post #tbl table thead a { text-decoration:none; color:#fff; }
  #post #tbl table thead a:hover { text-decoration:underline; }
  #post #tbl table tbody a { text-decoration:underline; }
  #post #tbl.zebra tbody tr:nth-child(even) {background: #eee}
  #post #tbl.zebra tbody tr:nth-child(odd) {background: #fff}
  #post #tbl.ul tbody tr {border-bottom:1px solid #ccc;}
  #post #tbl.borders tbody tr {border-left:1px solid #ccc; border-bottom:1px solid #ccc;}
  #post #tbl.borders tbody td {border-right:1px solid #ccc;}

  #post em {font-style:italic;}

  hr {height:1px; color:#ccc; border:0; }

  .gist {font-size:80%;}
  
 #post ul, #post ol {
    margin-left: 1.25em;
  }
  #post ul li:before {
  	content: "\00BB \0020";
	}
